@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-red: #dd1b1c;
  --primary-color: #9e1e1f;
  --primary-gradient: linear-gradient(95deg, rgba(221, 26, 28, 1) 0%, rgba(158, 30, 31, 1) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus-visible {
  outline: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

#popover-chosse-card {
  border-color: #e8e8e8;
  border-width: 1px;
  padding: 16px;
}
/* Custom background color checkbox  */
.ant-checkbox-checked .ant-checkbox-inner {
  background-image: var(--primary-gradient);
}

/* Custom form item form register advise */
.register-advise-form .ant-form-item-explain .ant-form-item-explain-error {
  font-size: 16px;
  background-image: var(--primary-gradient);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  margin-top: 8px;
  line-height: 22px;
}

.register-advise-form .ant-form-item {
  margin-bottom: 0;
}

/* Custom notification after submit successfully form register advise */
.ant-notification-notice-wrapper {
  border-radius: 20px !important;
}

.ant-notification-notice-wrapper .ant-notification-notice-with-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification-form-avides .ant-notification-notice-with-icon .ant-notification-notice-icon {
  min-width: 48px;
  min-height: 48px;
  position: relative;
  display: block;
}

.ant-notification .ant-notification-notice-wrapper > .notification-form-avides .ant-notification-notice-close {
  top: 0;
  bottom: 0;
  margin-block: auto;
  font-size: 20px;
  width: 32px;
  height: 32px;
  color: black;
}

.ant-notification-notice-wrapper
  > .notification-form-avides
  .ant-notification-notice-with-icon
  .ant-notification-notice-message {
  max-width: 256px;
  padding: 0;
  margin: 0;
}
